// 样式重置
@import "reset";
// 变量
@import "vars";

/*****************************常用样式*****************************/
html,body{
  height: 100%;
}
// 右浮动
.float-right{
  float: right;
}
// 左浮动
.float-left{
  float: left;
}
// 清除浮动
.float-clear:after{
  content: '';
  display: table;
  clear: both;
}


/*****************************项目公共样式*****************************/
.jianji-back-table{
  max-height: 600px;
  overflow: auto;
}

